.loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background: red;
}

.loader-active {
	display: block;
}

.loader-inactive {
	animation: fadeOut .6s linear forwards;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}