.loading_nav {
	padding: 1rem;
	color: #ffffff;
	background: #000000;
	-webkit-perspective: 12rem;
	        perspective: 12rem;
	-webkit-animation: slideDown .3s ease forwards;
	        animation: slideDown .3s ease forwards;
}
.loading_text_cont {
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	min-width: 10rem;
	max-width: 10rem;
}
.loading_text {
	font-size: 1.5rem;
	font-weight: 900;
	margin-right: .2rem;
}
.loading_dot {
	min-height: .25rem;
	max-height: .25rem;
	min-width: .25rem;
	max-width: .25rem;
	margin: 0 .2rem .2rem .2rem;
	background: #ffffff;
}

@-webkit-keyframes slideDown {
	from {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes slideDown {
	from {
		-webkit-transform: translateY(-100%);
		        transform: translateY(-100%);
	}
	to {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}