.active_text {
	border: 1px solid black;
	color: #ffffff;
	width: 100%;
}
.active_text__welcome {
}
.active_text__welcome p {
	text-align: left;
}
.active_text__name h1,
.active_text__welcome p {
	margin: 0;
}
.active_text__name {
	font-size: 2.5rem;
}
.active_text__phrases__cont {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
}
.active_text__pre_phrases {
	width: 60%;
	text-align: right;
	padding: 0 .3rem 0 0;
}
.active_text__phrases {
	width: 40%;
	text-align: left;
}
.active_text__indicator {
	color: #eb3b5a;
}