.about_card {
	min-width: 19rem;
	max-width: 19rem;
	margin: 2rem auto;
}
.about_card__cont_img {
	overflow: hidden;
}
.about_card__img {
	width: 95%;
	display: block;
	margin: 0 auto;
	box-shadow: .5rem .5rem .5rem #000000;
	transform: translate(0, 10%);
}
.about_card_envelope {
	box-shadow: inset 0 0 1rem #000000, 
	.5rem .5rem .5rem #000000;
	border-radius: 0 0 .5rem .5rem;
	padding: 2rem .25rem;
	background: #ffffff;
	min-height: 23rem;
	height: 25rem;
}
.about_card__tittle {
	margin: 0 0 2rem 0;
}
.about_card__desc {
	letter-spacing: .05rem;
	line-height: 1.5rem;
	margin: 0;
	font-size: 1rem;
}
@media screen and (min-width: 450px) {
	.about_card {
		max-width: 24rem;
	}
	.about_card_envelope {
		height: 30rem;
		padding: 2rem 2rem;
	}
	.about_card__desc {
		font-size: 1.1rem;
	}
}
@media screen and (min-width: 750px) {
	.about_card {
		max-width: 24rem;
	/*	width: 45%;*/
	}
	.about_card_envelope {
		padding: 2rem 1.5rem;
	}
	.about_card__desc {
		font-size: 1.2rem;
	}
}