.about_card {
	margin: 1rem auto; 
	width: 95%;
	margin: 2rem auto;
}
.about_card__img {
	width: 95%;
	display: block;
	margin: 0 auto;
	box-shadow: .5rem .5rem .5rem #000000;
	z-index: 1;
	transform: translate(0, 10%);
}
.about_card_envelope {
	box-shadow: inset 0 0 1rem #000000, 
	.5rem .5rem .5rem #000000;
	border-radius: 0 0 .5rem .5rem;
	padding: 1rem 0;
	z-index: 2;
	position: relative;
	background: #ffffff;
}
.about_card__tittle,
.about_card__desc {
	text-align: center;
}
.about_card__tittle {
	margin: 0;
}
.about_card__desc {
	letter-spacing: .05rem;
	line-height: 1.5rem;
}