/*GLOBAL STYLES*/
*, *:before, *:after {
  box-sizing: border-box;
}
html {
	font-size: 15px;
}
img {
	width: 100%;
	display: block;
}
h1, h2, h3, h4, h5, h6, p, span {
	text-align: center;
	width: 100%;
}