.about_card {
	min-width: 19rem;
	max-width: 19rem;
	margin: 0 auto;
	transform-style: preserve-3d;
	transition: transform .3s ease-in-out;
	&__cont_img {
		overflow: hidden;
	}
	&_envelope {
		box-shadow: inset 0 0 .5rem #000000, 
		.5rem .5rem .5rem #000000;
		border-radius: 0 0 .5rem .5rem;
		padding: $padding-large $padding-x-small - .25;
		background: #ffffff;
		min-height: 23rem;
		height: 25rem;
		position: relative;
	}
}
.about_card__img {
	width: $width-full-parent - 5;
	display: block;
	margin: 0 auto;
	box-shadow: .5rem .5rem .5rem $black;
	transform: translate(0, 80%);
	transition: transform .3s ease-in-out;
}
.about_card:hover .about_card__img {
	transform: translate(0, 10%);
}
.about_card:hover {
	transform: scale(1.025);
}
.about_card__tittle {
	margin: 0 0 $margin-large 0;
}
.about_card__desc {
	letter-spacing: .05rem;
	line-height: 1.5rem;
	margin: 0;
	font-size: $font-small;
}
.envelope-isActive {
	animation: slideUp 4s ease-in-out 1s infinite alternate;
}
@keyframes slideUp {
	0% {transform: translate(0, 80%);}
	33% {transform: translate(0, 80%);}
	66% {transform: translate(0, 10%) translateZ(1rem);}
	100% {transform: translate(0, 10%);}
}
@media screen and (min-width: 450px) {
	.about_card {
		max-width: 24rem;
		&_envelope {
			height: 30rem;
			padding: $padding-large $padding-large;
			.about_card__desc {
				font-size: $font-small + .1;
			}
		}
	}
}
@media screen and (min-width: 750px) {
	.about_card {
		max-width: 24rem;
		margin: $margin-medium auto;
		&_envelope {
			padding: $padding-large $padding-medium;
				.about_card__desc {
					font-size: $font-small + .2;
				}
		}
	}
}