.desk_cont {
	perspective: 10rem;
	width: 100%;
	align-self: flex-start;
	box-shadow: 0 6rem 5rem black;
	max-width: 40rem;
	.desk {
		background: #ffffff;
		height: 5rem;
		transform-style: preserve-3d;
		transform: rotateX(-120deg);
		position: relative;
		&:after {
			content: "";
			position: absolute;
			bottom: 90%;
			left: 50%;
			width: 80%;
			border: 2px solid #ecf0f1;
			height: 2rem;
			transform: translate(-50%, -50%) rotateX(-75deg);
			background: #ffffff;
		}
		&_leg {
			border: 2px solid black;
			position: absolute;
			bottom: 0;
			width: 1rem;
			background: #000000;
			height: 10rem;
		}
	}
}
.desk_leg_left {
	left: 0;
	transform: rotateX(-90deg) translate(200%, -60%);
}
.desk_leg_right {
	right: 0;
	transform: rotateX(-90deg) translate(-200%, -60%);
}
