.header_cont {
	min-height: 45rem;
	position: relative;
	overflow: hidden;
	background: #bdc3c7;
}
@media screen and (min-width: 750px) {
	.header_cont {
		min-height: 60rem;
	}
}
@media screen and (min-width: 1150px) {
	.header_cont {
		min-height: 60rem;
	}
}