.rectangle_cont {
	perspective: 40rem;
	height: 22rem;
	.rectangle {
		transform-style: preserve-3d;
		width: 10rem;
		margin: 0 auto;
		transform: rotateY(-15deg);
		position: relative;
		color: #ffffff;
		transition: transform .3s linear;
		&:hover, &:active {
			transform: rotateY(-75deg);
		}
	}
}
.rectangle-isActive {
	animation: rotate 6s ease-in-out 1s infinite alternate;
}
.face {
	position: absolute;
	width: 10rem;
	height: 20rem;
	background: $light-blue;
/*	transition: transform 1s ease-in-out;*/
}
.front {
	transform: translateZ(5rem);
}
.left {
	transform: rotateY(-90deg) translateZ(5rem);
}
.right {
	transform: rotateY(90deg) translateZ(5rem);
}
.back {
	transform: rotateX(180deg) translateZ(5rem);
}
.bottom {
	height: 10rem;
	transform: rotateX(-90deg) translateZ(16rem);
	background: #000000;
	opacity: .5;
}
.front, .right {
	@include flexBox(row, wrap, center, center);
	padding: $padding-large * 2 0 0 0;
} 
.rectangle_logo {
	border: .6rem solid #ffffff;
	height: 6rem;
	width: 6rem;
	@include flexBox(row, wrap, center, center);
	border-radius: 50%;
	font-size: $font-medium;
	animation: pulse 1s linear infinite alternate;
}
.rectangle_desc {
	padding: 0 $padding-x-small;
	font-size: $font-small - .2;
	line-height: 1.3rem
}
/*.rectangle:hover .front {
	transform: translateZ(5rem);
}
.rectangle:hover .left {
	transform: rotateY(-90deg) translateZ(5rem);
}
.rectangle:hover .right {
	transform: rotateY(90deg) translateZ(5rem);
}
.rectangle:hover .back {
	transform: rotateX(180deg) translateZ(5rem);
}
.rectangle:hover .rectangle:hover {
	transform: rotateY(90deg);
}*/
.rectangle_footer {
	align-self: flex-end;
	width: 10rem;
	height: 6rem;
	position: relative;
	overflow: hidden;
	&__img {
		margin: 0;
		height: 100%;
		width: 1000%;
		position: absolute;
		bottom: 0;
		background: url("../assets/mountains.jpg") repeat-x;
		background-position: center;
		background-size: contain;
		animation: slide 120s linear infinite;
	}
}
@keyframes rotate {
	0% {transform: rotateY(-15deg);}
	33% {transform: rotateY(-15deg);}
	66% {transform: rotateY(-75deg);}
	100% {transform: rotateY(-75deg);}
}
@keyframes slide{
	0% {
		transform: translate(0, 0);
	}
	50% {
		transform: translate(-50%, 0);
	}
	100% {
		transform: translate(0%, 0);
	}
}
@keyframes pulse {
	0% {
		box-shadow: inset .075rem .075rem .075rem .075rem $black,
	.1rem .1rem .1rem .1rem $black,
	.125rem .125rem .125rem .125rem $black;
		text-shadow: .075rem .075rem .075rem $black,
		.1rem .1rem .1rem $black,
		.125rem .125rem .125rem $black;
	}
	100% {
		box-shadow: inset .2rem .2rem .2rem .2rem $black,
	.25rem .25rem .25rem .1rem $black,
	.35rem .35rem .35rem .1rem $black;
		text-shadow: .2rem .2rem .2rem $black,
	.25rem .25rem .1rem $black,
	.35rem .35rem .1rem $black;
	}
}
@media screen and (min-width: 750px) {
	.rectangle_cont {
		width: calc(100% / 3);
	}
}
@media screen and (min-width: 1150px) {
	.rectangle_cont{
		height: 32rem;
		.rectangle {
			transform: rotateY(-25deg);
		}
	}
	.face {
		width: 15rem;
		height: 30rem;
	}
	.front {
		transform: translateZ(7.5rem);
	}
	.left {
		transform: rotateY(-90deg) translateZ(7.5rem);
	}
	.right {
		transform: rotateY(90deg) translateZ(7.5rem);
	}
	.back {
		transform: rotateX(180deg) translateZ(7.5rem);
	}
	.bottom {
		height: 15rem;
		transform: rotateX(-90deg) translateZ(25rem);
	}
	.rectangle_footer {
		width: 15rem;
		height: 10rem;
	}
}