.nav_cont {
	width: $width-full-parent;
	color: $black;
	position: absolute;
	top: 0;
	padding: $padding-small 0 0 0;
}
.nav_mobile_toggle {
	height: 3rem;
	width: $width-full-parent;
	padding: 0 0 0 $padding-small;
	.hamburger_cont {
		height: $height-full-parent;
		min-width: 3rem;
		max-width: 3rem;
		overflow: hidden;
		position: relative;
		.hamburger_dash {
			position: absolute;
			background: $white;
			height: .5rem;
			width: $width-full-parent;
			transition: transform .3s linear;
		}
	}
}
.dash_one {
	top: 0;
}
.dash_two {
	top: 1rem;
}
.dash_three {
	top: 2rem;
}

.hamburger_cont.isActive .dash_one {
	top: 1rem;
	transform: rotateZ(45deg);
}
.hamburger_cont.isActive .dash_two {
	transform: translate(-200%, 0);
}
.hamburger_cont.isActive .dash_three {
	top: 1rem;
	transform: rotateZ(-45deg);
}
.nav_cont__inner {
	padding: $padding-small 0;
	overflow: hidden;
	transition: transform .3s linear;
	margin: 0;
	.nav_item {
		list-style-type: none;
		text-align: center;
		height: 4rem;
		color: $white;
		@include flexBox(row, wrap, center, center);
		background: $black;
		transition: transform .3s ease-in-out;
	}
}
.home {
	transform: translate(100%, 0);
}
.about {
	transform: translate(-100%, 0);
}
.technology {
	transform: translate(100%, 0);
}
.isVisible {
	transform: translate(0, 0);
}
@media screen and (min-width: 750px) {
	.nav_mobile_toggle {
		display: none;
	}
	.nav_cont {
		border: 1px solid white;
		padding: 0;
	}
	.nav_cont__inner {
		border: 1px solid black;
	}
}

