.nav_cont {
	width: $width-full-parent;
	position: absolute;
	top: 0;
	padding: $padding-small 0 0 0;
}
.nav_mobile_toggle {
	height: 3rem;
	width: $width-full-parent;
	padding: 0 0 0 $padding-small;
	.hamburger_cont {
		height: $height-full-parent;
		min-width: 3rem;
		max-width: 3rem;
		overflow: hidden;
		position: relative;
		.hamburger_dash {
			position: absolute;
			background: $white;
			height: .5rem;
			width: $width-full-parent;
			transition: transform .3s linear;
		}
	}
}
.dash_one {
	top: 0;
}
.dash_two {
	top: 1rem;
}
.dash_three {
	top: 2rem;
}

.hamburger_cont.isActive .dash_one {
	top: 1rem;
	transform: rotateZ(45deg);
}
.hamburger_cont.isActive .dash_two {
	transform: translate(-200%, 0);
}
.hamburger_cont.isActive .dash_three {
	top: 1rem;
	transform: rotateZ(-45deg);
}
.nav_cont__inner {
	padding: $padding-small 0;
	overflow: hidden;
	transition: transform .3s linear;
	margin: 0;
	.nav_item {
		list-style-type: none;
		text-align: center;
		height: 4rem;
		color: $white;
		@include flexBox(row, wrap, center, center);
		background: $black;
		transition: transform .3s ease-in-out;
	}
}
.home {
	transform: translate(100%, 0);
}
.about {
	transform: translate(-100%, 0);
}
.technology {
	transform: translate(100%, 0);
}
.isVisibleMob {
	transform: translate(0, 0);
}
@media screen and (min-width: 750px) {	
	%circle {
		width: 6rem;
		height: 6rem;
		border-radius: 50%;
	}
	.nav_mobile_toggle {
		display: none;
	}
	.nav_cont {
		padding: $padding-small 0;
	}
	.nav_cont__inner {
		border: 1px solid black;
		margin: 0 auto;
		position: relative;
		@extend %circle;
		@include flexBox(row, nowrap, center, center);
		overflow: visible;
		.nav_item {
			transform: translate(0, 0);
			@extend %circle;
			position: absolute;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			background: red;
			@extend %circle;
			background: #000000 url("../assets/desk-menu-icon.svg") no-repeat;
			background-position: center;
			background-size: 60%;
		}
	}
	// .isVisibleDesk {

	// }

	.nav_cont__inner.isVisibleDesk .home {
		transform: translate(-150%, 100%);
	}
	.nav_cont__inner.isVisibleDesk .about {
		transform: translate(0, 150%);
	}
	.nav_cont__inner.isVisibleDesk .technology {
		transform: translate(150%, 100%);
	}

}

