.parallax {
	min-height: 15rem;
	background: url("../assets/woods.jpg") no-repeat;
	background-position: center;
	background-size: cover;
}
@media screen and (min-width: 750px) {
	background: url("../assets/woods.jpg") no-repeat;
	background-attachment: fixed;
}