//FONT SIZES
$font-x-small: .5rem;
$font-small: 1rem;
$font-medium: 1.5rem;
$font-large: 2rem;
$font-x-large: 2.5rem;

//MARGIN
$margin-x-small: .5rem;
$margin-small: 1rem;
$margin-medium: 1.5rem;
$margin-large: 2rem;
$margin-x-large: 2.5rem;

//PADDING
$padding-x-small: .5rem;
$padding-small: 1rem;
$padding-medium: 1.5rem;
$padding-large: 2rem;
$padding-x-large: 2.5rem;

//WIDTHS
$width-half-parent: 50%;
$width-full-parent: 100%;
$width-full: 100vw;

//HEIGHTS
$height-half-parent: 50%;
$height-full-parent: 100%;
$height-full: 100vh;
