.technology-blocks{
	@include flexBox(column, wrap, space-around, unset);
	height: 100rem;
}
@media screen and (min-width: 750px) {
	.technology-blocks {
		@include flexBox(row, wrap, center, center);
		height: 40rem;
	}
}
@media screen and (min-width: 1150px) {
	.technology-blocks {
		height: 60rem;
	}
}